nodered-flow/flow.json
[
    {
        "id": "96575e7e094fc4d1",
        "type": "inject",
        "z": "e305b75206ab71f4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "351e641475044621",
                "2e3df48ed427b771"
            ]
        ]
    },
    {
        "id": "351e641475044621",
        "type": "function",
        "z": "e305b75206ab71f4",
        "name": "temperature simulator",
        "func": "// Simulate temperature between 15 to 30\nconst temperature = 15 + Math.random() * 15;\nconst timestamp = msg.payload;\n\nmsg.payload = {\n    [timestamp]: temperature\n};\n\nmsg.method = 'PATCH';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "fdaeb0508103f4a2"
            ]
        ]
    },
    {
        "id": "fdaeb0508103f4a2",
        "type": "http request",
        "z": "e305b75206ab71f4",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered-exercise-default-rtdb.firebaseio.com/temperature.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "dcd781754191c574"
            ]
        ]
    },
    {
        "id": "dcd781754191c574",
        "type": "debug",
        "z": "e305b75206ab71f4",
        "name": "debug temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "7788429a5bd8dfee",
        "type": "http request",
        "z": "e305b75206ab71f4",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://nodered-exercise-default-rtdb.firebaseio.com/voltage.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 200,
        "wires": [
            [
                "586fb4f5ac0a1a36"
            ]
        ]
    },
    {
        "id": "586fb4f5ac0a1a36",
        "type": "debug",
        "z": "e305b75206ab71f4",
        "name": "debug voltage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "2e3df48ed427b771",
        "type": "function",
        "z": "e305b75206ab71f4",
        "name": "voltage simulator",
        "func": "// Simulate voltage between 0 to 5\nconst voltage = 1 + Math.random() * 5;\nconst timestamp = msg.payload;\n\nmsg.payload = {\n    [timestamp]: voltage\n}\n\nmsg.method = 'PATCH';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "7788429a5bd8dfee"
            ]
        ]
    }
]